@define-color foreground #c0c3c1;
@define-color background #051108;
@define-color cursor #c0c3c1;

@define-color color0 #051108;
@define-color color1 #19A167;
@define-color color2 #4FAF6E;
@define-color color3 #B3BD3C;
@define-color color4 #4EB987;
@define-color color5 #2BC38D;
@define-color color6 #5ACB92;
@define-color color7 #c0c3c1;
@define-color color8 #56695b;
@define-color color9 #19A167;
@define-color color10 #4FAF6E;
@define-color color11 #B3BD3C;
@define-color color12 #4EB987;
@define-color color13 #2BC38D;
@define-color color14 #5ACB92;
@define-color color15 #c0c3c1;

@define-color color16 #eb5534;
